@model IEnumerable<CVprojectGroup38.Models.ProjectClass>


@{
    ViewBag.Title = "Projects List";
}

<div style="font-family:Arial">
    <h2>Projects list</h2>
        <ul>
            @foreach (var project in @Model)
            {
                <li>
                    @Html.ActionLink(project.Projectname, "Index1", "UserClasses", new { projectId = project.Id }, null);
                </li>
            }
        </ul>
</div>

